.laptop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.laptop-container{
    background-color: lightyellow;
}
.cart-product{
    background-color: aquamarine;
}
@media screen and(max-width:414px) {
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and(max-width:1100px) {
    .products-container{
        grid-template-columns: repeat(3, 1fr);
    }
}