.product{
    width: 300px;
    height: 510px;
    border: 1px solid #95a0a7;
    border-radius: 8px;
    position: relative;
    background-color: goldenrod;
}
.product img{
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}
.product-details{
    font-weight: 500;
    margin-right: 120px;
}
.product-name{
    margin-right: 40px;
}
.btn-work{
    width: 100%;
    background-color: lightsteelblue;
    border: none;
    border-radius: 0px 0px 8px 8px;
    margin-block-start: 65px;
}
.btn-work:hover{
    background-color: chartreuse;
}